.formularioCadastroClientes {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centraliza no meio */
  background-color: #cfe2ff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.formularioGestaoServicos {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centraliza no meio */
  background-color: #cfe2ff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.formularioCadastroPets {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centraliza no meio */
  background-color: #cfe2ff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.input-group {
  margin-bottom: 25px;
  margin-top: 5px;
}

.input-group-text {
  margin-bottom: 25px;
  margin-top: 5px;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  background-color: #cfe2ff;
  float: right;
}

.btn-primary {
  float: right;
  margin: 10px;
}
body {
  background-image: url(img/fundo.jpg);
}

.tituloFormulario {
  text-align: center; /* Centraliza o texto */
  margin: 0 auto; /* Centraliza o <div> na página */
  width: fit-content; /* Faz o <div> ajustar a largura ao conteúdo */
  font-family: "Arial", sans-serif; /* Altera a fonte */
  font-size: 32px; /* Tamanho maior */
  font-weight: bold; /* Negrito */
  color: #ff7676; /* Cor verde */
  text-transform: uppercase; /* Letras maiúsculas */
  letter-spacing: 2px; /* Espaçamento entre as letras */
  padding: 20px; /* Espaço interno */
  margin-bottom: 20px; /* Espaço abaixo */
  transition: all 0.3s ease; /* Efeito de transição suave */
}

.btn-lg {
  min-width: 100px;
  min-height: 100px;
}

#logo {
  width: 300px;
}
