.formularioCadastroClientes {
  background-color: #cfe2ff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  width: 100%; /* Ajuste conforme necessário */
  max-width: 1000px; /* Define um limite de largura */
}

.formularioAgendamento {
  background-color: #cfe2ff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  width: 100%; /* Ajuste conforme necessário */
  max-width: 1000px; /* Define um limite de largura */
}

.containerForm {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formularioGestaoServicos {
  background-color: #cfe2ff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  width: 100%; /* Ajuste conforme necessário */
  max-width: 1000px; /* Define um limite de largura */
}

.formularioCadastroPets {
  background-color: #cfe2ff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  width: 200%; /* Ajuste conforme necessário */
  min-width: 800px;
  max-width: 1600px; /* Define um limite de largura */
}

.input-group {
  margin-bottom: 25px;
  margin-top: 5px;
}

.input-group-text {
  margin-bottom: 25px;
  margin-top: 5px;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  background-color: #cfe2ff;
  float: right;
}

.btn-primary {
  margin: 10px;
}
body {
  background-image: url(img/fundo.jpg);
}

.tituloFormulario {
  text-align: center; /* Centraliza o texto */
  margin: 0 auto; /* Centraliza o <div> na página */
  width: fit-content; /* Faz o <div> ajustar a largura ao conteúdo */
  font-family: "Arial", sans-serif; /* Altera a fonte */
  font-size: 32px; /* Tamanho maior */
  font-weight: bold; /* Negrito */
  color: #ff7676; /* Cor verde */
  text-transform: uppercase; /* Letras maiúsculas */
  letter-spacing: 2px; /* Espaçamento entre as letras */
  padding: 20px; /* Espaço interno */
  margin-bottom: 20px; /* Espaço abaixo */
  transition: all 0.3s ease; /* Efeito de transição suave */
}

.btn-lg {
  min-width: 100px;
  min-height: 100px;
}

#logo {
  width: 300px;
}
